{$SITE_ADDRESS} {

    root * /usr/share/caddy
    file_server

    reverse_proxy /api* api-dev:5000

    log {
        output file /var/log/access.log {
            roll_size 1gb
            roll_keep 5
            roll_keep_for 720h
	}
}

}

{$HTTP_SITE_ADDRESS} {
    redir {$SITE}
}