{$SITE_ADDRESS} {
	root * /usr/share/caddy
	file_server

	reverse_proxy /api* api:5000

	log {
		output file /data/log/aliveornot_access.log
	}
}

{$HTTP_SITE_ADDRESS} {
	redir {$SITE}

	log {
		output file /data/log/aliveornot_access_http.log
	}
}
